<?xml version="1.0"?>
<launch>
        <!-- urdf model -->
        <arg name="puzzlebot_sim_model" default="$(find puzzlebot_localisation)/urdf/puzzlebot_jetson_ed_urdf.urdf"/>
        <param name="robot_description" command="cat $(arg puzzlebot_sim_model)" />

        <!-- Nodes -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="simulated_state_publisher" output="screen"/>

        <!-- Rviz -->
        <!-- <arg name="rvizconfig" default="$(find puzzlebot_localisation)/rviz/puzzlebot.rviz"/>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />  -->
</launch>
