<?xml version="1.0"?>
<launch>
        <!-- Parameters file -->
        <rosparam file="$(find puzzlebot_localisation)/config/puzzlebot.yaml"/>

        <!-- Nodes -->
        <node pkg="puzzlebot_localisation" type="puzzlebot_sim.py" name="simulation" output="screen"/>
        <node pkg="puzzlebot_localisation" type="localisation.py" name="localisation" output="screen"/>
        <node pkg="puzzlebot_localisation" type="joint_state_pub.py" name="joint_states_publisher" output="screen"/>
        <node pkg="puzzlebot_localisation" type="control.py" name="controller" output="screen"/>
        <node pkg="puzzlebot_localisation" type="set_point_generator.py" name="set_point_generator" output="screen"/>

        <!-- Plots -->
        <arg name="plots_config" default="$(find puzzlebot_localisation)/plotJuggler/plots.xml"/>
        <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler" args="-l $(arg plots_config)"/>
</launch>
