<?xml version="1.0"?>
<launch>
        <!-- Localisation -->
        <include file="$(find puzzlebot_localisation)/launch/puzzlebot_localisation.launch"></include>
        
        <!-- Rviz Simulation -->
        <include file="$(find puzzlebot_localisation)/launch/puzzlebot_rviz.launch"></include>
</launch>
